*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body
{
    scroll-behavior: smooth;
    font-family: "Gantari", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
a , li
{
    text-decoration: none;
    list-style: none;
}