#Contacts {
    width: 100%;
    background: #f9fafb;
    color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
}

.contact-wrapper {
    width: 100%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
 .contact-logo {
    width: 200px;
    height: 200px;
    object-fit: contain;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}

.brand-name {
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: 600;
    color: #333;
}

.social_links {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 10px;
}

.social_links a {
    color: #333;
    font-size: 1.4rem;
    transition: all 0.3s ease;
}

.social_links a:hover {
    color: #111;
    transform: translateY(-3px);
}

.map-container iframe {
    width: 100%;
    border-radius: 16px;
}
.contact-info span , a
{
    color: #111;
    font-weight: 500;
    text-decoration: none;
}
.copyright {
    width: 100%;
    max-width: 900px;
    text-align: center;
    margin-top: 40px;
    font-size: 0.9rem;
    color: #666;
}

.copyright a {
    color: #111;
    font-weight: 500;
    text-decoration: none;
}

.copyright a:hover {
    text-decoration: underline;
}


/* === Responsive === */
@media (min-width: 768px) {
    .contact-wrapper {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 60px;
        text-align: left;
    }

    .contact-info {
        align-items: flex-start;
    }

    .social_links {
        justify-content: flex-start;
    }
}